body {
  background-color: rgb(38, 39, 42);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container div {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(188, 188, 188);
}
