<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      button {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
      input {
        width: 200px;
        padding: 10px;
        border-radius: 20px;
      }
    </style>
  </head>
  <body>
    <form action="http://localhost:3001/submit-expense" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />

      <label for="cost">cost:</label>
      <input type="number" id="cost" name="cost" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
